<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pikaqiu.bbs.dao.ReplyMapper" >
  <resultMap id="BaseResultMap" type="com.pikaqiu.bbs.entity.Reply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="topic_id" property="topicId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="reply_time" property="replyTime" jdbcType="TIMESTAMP" />
    <result column="reply_sort" property="replySort" jdbcType="INTEGER" />
    <result column="board_id" property="boardId" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pikaqiu.bbs.entity.Reply" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    a.id,
    a.topic_id,
    a.user_id,
    a.reply_time,
    a.reply_sort,
    a.board_id,
    a.create_by,
    a.create_date,
    a.update_by,
    a.update_date,
    a.del_flag
  </sql>
  <sql id="Blob_Column_List" >
    a.content
  </sql>
  <select id="get" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_reply a
    where a.id = #{id,jdbcType=INTEGER}
  </select>
  <update id="delete" parameterType="java.lang.Integer" >
    UPDATE tb_reply set del_flag = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.pikaqiu.bbs.entity.Reply" >
    insert into tb_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="topicId != null" >
        topic_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="replyTime != null" >
        reply_time,
      </if>
      <if test="replySort != null" >
        reply_sort,
      </if>
      <if test="boardId != null" >
        board_id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="topicId != null" >
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null" >
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replySort != null" >
        #{replySort,jdbcType=INTEGER},
      </if>
      <if test="boardId != null" >
        #{boardId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.pikaqiu.bbs.entity.Reply" >
    update tb_reply
    <set >
      <if test="topicId != null" >
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null" >
        reply_time = #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replySort != null" >
        reply_sort = #{replySort,jdbcType=INTEGER},
      </if>
      <if test="boardId != null" >
        board_id = #{boardId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByTopicId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    ,
	u.user_head_img AS "userImg",
	u.user_name AS "userName",
    u.user_sign AS "userSign",
    (SELECT count(*) FROM tb_topic WHERE user_id = a.user_id) as "userTopicNum",
    (SELECT count(*) FROM tb_reply WHERE user_id = a.user_id) as "userReplyNum"
    from tb_reply a
    LEFT JOIN tb_user_info u ON u.user_id = a.user_id
    where
    a.del_flag = 0
    AND a.topic_id = #{topicId,jdbcType=INTEGER} ORDER BY a.reply_sort
  </select>
  <select id="getReplyNumByTopicId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(id) from tb_reply a where a.topic_id = #{topicId,jdbcType=INTEGER}
  </select>
</mapper>