<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pikaqiu.bbs.dao.TopicMapper" >
  <resultMap id="BaseResultMap" type="com.pikaqiu.bbs.entity.Topic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="board_id" property="boardId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="is_top" property="isTop" jdbcType="INTEGER" />
    <result column="is_elite" property="isElite" jdbcType="INTEGER" />
    <result column="view" property="view" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <collection property="board" ofType="com.pikaqiu.bbs.entity.Board">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="board_name" property="boardName" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pikaqiu.bbs.entity.Topic" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithUserInfo" type="com.pikaqiu.bbs.entity.Topic" extends="BaseResultMap" >
    <collection property="userInfo" ofType="com.pikaqiu.bbs.entity.UserInfo">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="user_id" property="userId" jdbcType="INTEGER" />
      <result column="user_name" property="userName" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    a.id,
    a.title,
    a.user_id,
    a.board_id,
    a.type,
    a.is_top,
    a.is_elite,
    a.view,
    a.create_by,
    a.create_date,
    a.update_by,
    a.update_date,
    a.del_flag
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="get" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />,
    b.id,
    b.board_name
    from tb_topic a
    left join tb_board b ON a.board_id = b.id
    where a.id = #{id,jdbcType=INTEGER}
  </select>
  <update id="delete" parameterType="java.lang.Integer" >
    update tb_topic set del_flag = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.pikaqiu.bbs.entity.Topic" >
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="boardId != null" >
        board_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
      <if test="isElite != null" >
        is_elite,
      </if>
      <if test="view != null" >
        view,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="boardId != null" >
        #{boardId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=INTEGER},
      </if>
      <if test="isElite != null" >
        #{isElite,jdbcType=INTEGER},
      </if>
      <if test="view != null" >
        #{view,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.pikaqiu.bbs.entity.Topic" >
    update tb_topic
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="boardId != null" >
        board_id = #{boardId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=INTEGER},
      </if>
      <if test="isElite != null" >
        is_elite = #{isElite,jdbcType=INTEGER},
      </if>
      <if test="view != null" >
        view = #{view,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findList" parameterType="com.pikaqiu.bbs.entity.Topic" resultMap="ResultMapWithBLOBs">
    select * from
    tb_topic
    WHERE
      del_flag = 0
      <if test="title != null" >
       AND title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        AND user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="boardId != null" >
        AND board_id = #{boardId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        AND type = #{type,jdbcType=INTEGER},
      </if>
      <if test="isTop != null" >
        AND is_top = #{isTop,jdbcType=INTEGER},
      </if>
      <if test="isElite != null" >
        AND is_elite = #{isElite,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        AND create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        AND create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        AND update_by = #{updateBy,jdbcType=INTEGER},
      </if>
  </select>
  <select id="selectByBoardId"  resultMap="ResultMapWithUserInfo" parameterType="java.lang.Integer">
    SELECT
    <include refid="Base_Column_List" />,
    ui.user_name,
    (SELECT count(*) FROM tb_reply r WHERE r.topic_id = a.id and r.del_flag = 0) as "replyNum"
    FROM
      tb_topic a
    left join tb_user_info ui ON  ui.user_id = a.user_id
    WHERE
      a.del_flag = 0 AND
      a.board_id = #{boardId}
    ORDER BY create_date desc
  </select>
  <select id="selectPageByBoardId"  resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
    SELECT
    <include refid="Base_Column_List" />,
    (SELECT count(*) FROM tb_reply r WHERE r.topic_id = a.id and r.del_flag = 0) as "replyNum"
    FROM
      tb_topic a
    WHERE
      a.del_flag = 0 AND
      a.board_id = #{boardId}
    ORDER BY create_date desc
  </select>
  <select id="getTopTopic"  resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />,
    (SELECT count(*) FROM tb_reply r WHERE r.topic_id = a.id and r.del_flag = 0) as "replyNum"
    FROM
      tb_topic a
    WHERE
      a.del_flag = 0 AND a.is_top = 1
  </select>
  <select id="getTopTopicByBoard"  resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />,
    (SELECT count(*) FROM tb_reply r WHERE r.topic_id = a.id and r.del_flag = 0) as "replyNum"
    FROM
      tb_topic a
    WHERE
      a.del_flag = 0 AND a.is_top = 1 AND a.board_id = #{boardId}
  </select>
  <select id="getNewTopic"  resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />,
    (SELECT count(*) FROM tb_reply r WHERE r.topic_id = a.id and r.del_flag = 0) as "replyNum"
    FROM
      tb_topic a
    WHERE
      a.del_flag = 0
    ORDER BY create_date DESC
  </select>
  <select id="getEliteTopic"  resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />,
    (SELECT count(*) FROM tb_reply r WHERE r.topic_id = a.id and r.del_flag = 0) as "replyNum"
    FROM
      tb_topic a
    WHERE
      a.del_flag = 0 AND is_elite = 1
    ORDER BY create_date
  </select>
</mapper>