.container {
    max-width: 100%;
    padding-left: 0px;
}
a:hover, a:active, a:focus {
    text-decoration: none;
    color: #8e959a;
}
nav {
    float: left;
    width: 96px;
    background: #E8EFF5 ;
    margin-right: 14px;
    text-align: center;
    line-height: 32px;
    position: relative;
    padding: 6px 0;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.04);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.04);
}
.news_list{
    display: table;
}
main {
    width: 100%;
    min-height: 500px;
}
.nav_com a:hover{
    color: red;
}
main ul.feedlist_mod li {
    padding: 20px 24px;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.04);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.04);
    position: relative;
}
main ul.feedlist_mod li:hover {
    background: #fafafa;
}
main ul.feedlist_mod li .list_con h2 {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    margin-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 70%;
}
main ul.feedlist_mod li .list_con h2 a {
    display: block;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main ul.feedlist_mod li .list_con h2 a:link {
    color: #4f4f4f;
}
main ul.feedlist_mod li .list_con dl.list_userbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 24px;
    line-height: 24px;
}
main ul.feedlist_mod li .list_con dl.list_userbar dt {
    float: left;
    margin: 0 6px 0 0;
}
main ul.feedlist_mod li .list_con dl.list_userbar dt img {
    display: block;
    border: .5px solid #f0f0f0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
main ul.feedlist_mod li .list_con dl.list_userbar dd {
    float: left;
    font-size: 13px;
    color: #999;
    margin: 0 20px 0 0;
}
main ul.feedlist_mod li .list_con dl.list_userbar dd a {
    color: #999;
}
main ul.feedlist_mod li .list_con dl.list_userbar dd a:link, main ul.feedlist_mod li .list_con dl.list_userbar dd a:visited {
    color: #999;
}
main ul.feedlist_mod li .list_con dl.list_userbar dd a:hover, main ul.feedlist_mod li .list_con dl.list_userbar dd a:active {
    color: #ca0c16;
}
main ul.feedlist_mod li .list_con dl.list_userbar dd {
    float: left;
    font-size: 13px;
    color: #999;
    margin: 0 20px 0 0;
}
main ul.feedlist_mod li .list_con .read_num {
    position: absolute;
    top: 21px;
    right: 24px;
    text-align: center;
    line-height: 24px;
}
main ul.feedlist_mod li .list_con .read_num .num {
    font-size: 18px;
    color: #6ab3df;
}
main ul.feedlist_mod li .list_con .read_num .text {
    font-size: 13px;
    color: #9e9e9e;
    margin-top: 10px;
}
main ul.feedlist_mod li .list_con dl.list_userbar dd svg {
    width: 14px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    fill: #999;
    margin-right: 4px;
}
.image-container-fill{
    padding-bottom: 0px;
}


/*简书*/
.image-package {
    padding-bottom: 25px;
    margin-left: -40px;
    text-align: center;
}
.image-package .image-container {
    z-index: 100;
    position: relative;
    background-color: #eee;
    transition: background-color .1s linear;
    margin: 0 auto;
}
.image-package .image-container .image-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image-package img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    cursor: -webkit-zoom-in;
    transition: all .25s ease-in-out;
}
.image-package .image-container .image-view img {
    display: block;
    transition: all .15s linear;
    z-index: 100;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
}
.fixed_content{
    display: table;
    background: #E8EFF5;
    padding: 10px 20px;
}
.fixed_content h1 {
    font-weight: 500;
    font-size: 2.2em;
    font-family: Microsoft YaHei;
    line-height: 1.5;
}
.fixed_content .post_title {
    padding: 0 0 10px 0;
    border-bottom: 1px dashed #CDCDCD;
}
.fixed_content .post_title span.pt_info {
    padding-top: 5px;
    color: #888;
}
.fixed_content .post_title span {
    padding: 0 0px;
}
.fixed_content .post_title .pt_info a{
    color: #888;
    float: right;
}
.fixed_content .post_title .pt_info a:hover {
    color: #d22222;
}
.fixed_content .post_content {
    margin-top: 10px;
    text-align: justify;
    text-justify: inter-ideograph;
    word-wrap: break-word;
}

.fixed_content .post_content p strong {
    font-weight: 700;
}
.fixed_content .post_content p a {
    padding-bottom: 2px;
    height: 26px;
    box-shadow: 0 1px;
    color: #d22222;
}

.fixed_content .post_content p {
    padding: 10px 0;
    color: #424242;
}
.fixed_content .fs2 p, .content .post_content p {
    font-size: 1pc;
    line-height: 30px;
}