<div class="image-package">
    <div class="image-container" style="max-width: 700px; max-height: 391px;">
        <div class="image-container-fill" style="padding-bottom: 55.93%;"></div>
        <div class="image-view" data-width="1729" data-height="967">
            <img data-original-src="//upload-images.jianshu.io/upload_images/2509688-944bcd99abeaa8b5.png" data-original-width="1729" data-original-height="967" data-original-format="image/png" data-original-filesize="1070942">
        </div>
    </div>
    <div class="image-caption"></div>
</div>