<p><a class="s_tag" href="https://www.ithome.com/" target="_blank">IT之家</a>4月8日消息&nbsp;前几天小米6还在搞促销，4月6日小米米粉节特惠直降100元，其中4GB内存版售价2199元，但4月7日就恢复了正常价2299。现在IT之家发现，小米6已经在包括官网、小米商城、京东等渠道下架小米6的6GB内存版，现在只剩下4GB内存+64GB存储版。似乎是让路小米MIX
    2S，为小米7做准备。</p>

<p><img src="//img.ithome.com/images/v2/t.png" w="600" h="325" class="lazy" title="小米7马上到！小米6全网下架6GB大内存版"
        data-original="https://img.ithome.com/newsuploadfiles/2018/4/20180408_132629_266.jpg" width="600" height="325">
</p>
<p>小米6发布已经接近一年，在小米6的周期当中小米推出了两版产品，前期的小米6采用了6GB的运存，售价为2499元起，而在去年双11开始，小米开始销售4GB运存的小米6。</p>
<p>
    小米6采用了5.15英寸1080P护眼屏，搭载骁龙835芯片，辅以6GB内存和64/128GB机身存储；内置3350mAh电池，支持18W快充；后置双摄为1200万像素长焦镜头和1200万像素广角镜头，支持2倍光学变焦和四轴防抖，前置800万像素摄像头，支持自拍实时美颜，4GB版除了运存之外，其它方面与之相同。</p>
<p><img src="//img.ithome.com/images/v2/t.png" w="600" h="1066" class="lazy" title="小米7马上到！小米6全网下架6GB大内存版"
        data-original="https://img.ithome.com/newsuploadfiles/2018/4/20180408_132722_740.jpg" width="600" height="1066">
</p>
<p>小米6到目前为止也是你能买到的价格最低的骁龙835国产手机，由于小米7发布临近，在存货销售完毕后可能会短时间内下架。</p>
<p><strong>小米米粉节京东活动地址：<a href="https://union-click.jd.com/jdc?d=ZCBGnP" target="_blank">手机点此</a>&nbsp;|&nbsp;<a
        href="https://union-click.jd.com/jdc?e=0&amp;p=AyIHUytaJQMiQwpDBUoyS0IQWhkeHAxFBUYPCllHGAdFBwtSQEJLaClIe1tsKhsHdkFBAzQEAlBeTzcsTRJzRRVXKHkTXWYUByBnK3Z2SEETF1d7ARMHXAdaEB4TB0QbUh4CEQxWGGsWABUFUh1eFAIiBFccWRMGFwRSK2sVAyJMOxprFQMWAFcYWBALEzdVH1gWBhQBUR5YHAAWN1IrB1dQU0VlK1sUAxMGVB1aHQQiN2UrWSUC&amp;t=W1dCFFlQCxxQVwhPRE5XDVULR0VFUFcZJmkGbEt5eFVHOFZRFmZKQh5JXw%3D%3D"
        target="_blank">PC点此</a></strong></p>
